<div class="card mb-3">
  <h2 class="card-header h4">
    Feedback #<%= feedback.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Routes</dt>
      <dd>
        <% if @feedback.routes.present? %>
          <%= link_to feedback.routes, feedback.routes %>
        <% end %>
      </dd>

      <dt>Safty rating</dt>
      <dd><%= feedback.safty_rating %></dd>

      <dt>Overall experience rating</dt>
      <dd><%= feedback.overall_experience_rating %></dd>

      <dt>Comments</dt>
      <dd><%= feedback.comments %></dd>

      <dt>Attractions</dt>
      <dd><%= feedback.attractions_id %></dd>

      <dt>Users</dt>
      <dd>
        <% if @feedback.users.present? %>
          <%= link_to feedback.users, feedback.users %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back feedback, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_feedback_url(feedback), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to feedback, method: :delete, data: { confirm: "Do you really want to delete this feedback?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(feedback.updated_at) %> ago
  </div>
</div>
