<% was_validated = feedback.errors.any? %>

<%= form_with(model: feedback, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% route_class = "form-control" %>
    <% route_was_invalid = feedback.errors.include?(:route) %>

    <% if was_validated %>
      <% if route_was_invalid %>
        <% route_class << " is-invalid" %>
      <% else %>
        <% route_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :routes_id %>
    <%= f.collection_select :routes_id, Route.all, :id, :to_s, {}, class: "form-control" %>
    <% if route_was_invalid %>
      <% feedback.errors.full_messages_for(:route).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% safty_rating_class = "form-control" %>
    <% safty_rating_was_invalid = feedback.errors.include?(:safty_rating) %>

    <% if was_validated %>
      <% if safty_rating_was_invalid %>
        <% safty_rating_class << " is-invalid" %>
      <% else %>
        <% safty_rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :safty_rating %>
    <%= f.text_field :safty_rating, class: safty_rating_class, placeholder: "Enter safty rating" %>
    <% if safty_rating_was_invalid %>
      <% feedback.errors.full_messages_for(:safty_rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% overall_experience_rating_class = "form-control" %>
    <% overall_experience_rating_was_invalid = feedback.errors.include?(:overall_experience_rating) %>

    <% if was_validated %>
      <% if overall_experience_rating_was_invalid %>
        <% overall_experience_rating_class << " is-invalid" %>
      <% else %>
        <% overall_experience_rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :overall_experience_rating %>
    <%= f.text_field :overall_experience_rating, class: overall_experience_rating_class, placeholder: "Enter overall experience rating" %>
    <% if overall_experience_rating_was_invalid %>
      <% feedback.errors.full_messages_for(:overall_experience_rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = feedback.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comments %>
    <%= f.text_field :comments, class: comment_class, placeholder: "Enter comment" %>
    <% if comment_was_invalid %>
      <% feedback.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% attraction_class = "form-control" %>
    <% attraction_was_invalid = feedback.errors.include?(:attraction) %>

    <% if was_validated %>
      <% if attraction_was_invalid %>
        <% attraction_class << " is-invalid" %>
      <% else %>
        <% attraction_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attractions_id %>
    <%= f.number_field :attractions_id, class: attraction_class, placeholder: "Enter attraction" %>
    <% if attraction_was_invalid %>
      <% feedback.errors.full_messages_for(:attraction).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = feedback.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :users_id %>
    <%= f.collection_select :users_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_was_invalid %>
      <% feedback.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
