<%= form_with(model: @attraction, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :attraction_name %>

    <%= f.text_field :attraction_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :attraction_type %>

    <%= f.text_field :attraction_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :attraction_description %>

    <%= f.text_field :attraction_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost %>

    <%= f.text_field :cost, class: "form-control" %>
  </div>

  <%= f.hidden_field :routes_id, value: @route.id %>

  <%= f.submit "Create attraction", class: "btn btn-block btn-outline-secondary" %>
<% end %>
