<!-- Form feedback start -->
<%= form_with(model: @feedback, local: true) do |f| %>
<!-- Form feedback end -->

  <!-- Label and input for routes_id start -->
  <!-- Input for routes_id start -->
  <%= f.hidden_field :routes_id, value: @route.id %>
  <!-- Input for routes_id end -->
  <!-- Label and input for routes_id end -->

  <!-- Label and input for safty_rating start -->
  <div class="form-group">
    <%= f.label :safty_rating %>

    <!-- Input for safty_rating start -->
    <%= f.text_field :safty_rating, class: "form-control" %>
    <!-- Input for safty_rating end -->
  </div>
  <!-- Label and input for safty_rating end -->

  <!-- Label and input for overall_experience_rating start -->
  <div class="form-group">
    <%= f.label :overall_experience_rating %>

    <!-- Input for overall_experience_rating start -->
    <%= f.text_field :overall_experience_rating, class: "form-control" %>
    <!-- Input for overall_experience_rating end -->
  </div>
  <!-- Label and input for overall_experience_rating end -->

  <!-- Label and input for comments start -->
  <div class="form-group">
    <%= f.label :comments %>

    <!-- Input for comments start -->
    <%= f.text_field :comments, class: "form-control" %>
    <!-- Input for comments end -->
  </div>
  <!-- Label and input for comments end -->

  <!-- Label and input for attractions_id start -->
  <div class="form-group">
    <%= f.label :attractions_id %>

    <!-- Input for attractions_id start -->
    <%= f.text_field :attractions_id, class: "form-control" %>
    <!-- Input for attractions_id end -->
  </div>
  <!-- Label and input for attractions_id end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <%= f.label :users_id %>

    <!-- Input for users_id start -->
    <%= f.text_field :users_id, class: "form-control" %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <%= f.submit "Create feedback", class: "btn btn-block btn-outline-secondary" %>
<% end %>
