<div class="card mb-3">
  <h2 class="card-header h4">
    Attraction #<%= attraction.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Attraction name</dt>
      <dd><%= attraction.attraction_name %></dd>

      <dt>Attraction type</dt>
      <dd><%= attraction.attraction_type %></dd>

      <dt>Attraction description</dt>
      <dd><%= attraction.attraction_description %></dd>

      <dt>Location</dt>
      <dd><%= attraction.location %></dd>

      <dt>Cost</dt>
      <dd><%= attraction.cost %></dd>

      <dt>Routes</dt>
      <dd>
        <% if @attraction.routes.present? %>
          <%= link_to attraction.routes, attraction.routes %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back attraction, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_attraction_url(attraction), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to attraction, method: :delete, data: { confirm: "Do you really want to delete this attraction?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(attraction.updated_at) %> ago
  </div>
</div>
